<div class="div-uniq-<%=type%> d-flex justify-content-around">
    <p class="<%=type%>-first-name"><%=contact.first_name%></p>
    <p class="<%=type%>-last-name"><%=contact.last_name%></p>
    <p class="<%=type%>-phone-number"><%=contact.phone_number%></p>
</div>